MAKE    soc=MIMX95, board=mcimx95evk, build=gcc_cross
DOX     name=MX95EVK, desc="i.MX95 EVK Configuration Data"

include ../devices/MIMX95/configtool/device.cfg

BOARD               DEBUG_UART_INSTANCE=2
BOARD               DEBUG_UART_BAUDRATE=115200

BOARD               I2C_INSTANCE=1
BOARD               I2C_BAUDRATE=400000

# Common access rights
ALL:               api=all
OWNER:               api=all, perm=rw

DOM0                did=0

DATA:               perm=rw, api=none

M33_TCM_SYS         DATA, begin=0x020200000, size=256K
# Logical machines

LM0                did=2, name=SM, rpc=none, boot=1, skip=0, safe=feenv

DATA:               perm=rw, api=none

MODE             msel=1, boot=2

CLK_A55MTRBUS         ALL
M33_TCM_SYS         DATA, begin=0x020200000, size=256K



LM1                did=4, name=M7, rpc=scmi, boot=2, skip=0, safe=seenv




SCMI_AGENT0             name=M7
MAILBOX              type=loopback, test=8, priority=high
CHANNEL             db=0, xport=smt, check=crc32, rpc=scmi, type=a2p
CHANNEL             db=1, xport=smt, check=crc32, rpc=scmi, type=p2a_notify, notify=24
CHANNEL             db=2, xport=smt, check=crc32, rpc=scmi, type=p2a_priority, test=default

DATA:               perm=rw
EXEC:               perm=sec_rwx
TEST_MU:               perm=sec_rw

CLK_A55MTRBUS         ALL
M33P         OWNER
MU1_A         TEST_MU
M33_ROM         EXEC, begin=0x000000000, end=0x00003FFFF
M33_TCM_CODE         EXEC, begin=0x0201C0000, size=256K
FAULT_SW3         OWNER, reaction=grp_reset


